extends layout

block scripts
    // About page script
    script(src="/javascripts/about_page.js" type="module")

    #Topnav.topnav
        a(class="navbarLeft" href="#" onclick="document.navigate('/');") Nyheter och händelser
        a(href="#" onclick="document.navigate('/daily-summary');") Senaste dygnet
        a(href="#" onclick="document.navigate('/weekly-summary');") Senaste veckan
        a(href="#" onclick="document.navigate('/police-stations');") Polisstationer
        a(href="#" onclick="document.navigate('/statistics');") Kriminalstatistik
        a(class="active about" href="#" onclick="document.navigate('/about');") Om
        //a(href="#" onclick="document.navigate('/hotspot');") Hotspot

        a(href="javascript:void(0)" class="icon" onclick="myFunction()")
            i.fa.fa-bars

block content
    #background-about
        .container.container-about
            h1.pt-5 Nyheter och händelser i Sverige

            p.lead Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.

            #accordionPanelsStayOpenExample.accordion
                .accordion-item
                    h2#panelsStayOpen-headingOne.accordion-header
                        button.accordion-button(type='button', data-bs-toggle='collapse',
                            data-bs-target='#panelsStayOpen-collapseOne', aria-expanded='true',
                            aria-controls='panelsStayOpen-collapseOne')
                            | Varifrån kommer datan?
                    |
                    #panelsStayOpen-collapseOne.accordion-collapse.collapse.show(aria-labelledby='panelsStayOpen-headingOne')
                        .accordion-body
                            strong Statistiken &ouml;ver bekr&auml;ftade skjutningar och spr&auml;ngningar
                            |  &auml;r h&auml;mtad fr&aring;n&#32;
                            a.accordion(href='https://polisen.se/om-polisen/polisens-arbete/sprangningar-och-skjutningar/', target='_blank') Polismyndighetens hemsida
                            | . De aktuella h&auml;ndelserna och informationen om polistationerna &auml;r h&auml;mtade fr&aring;n Polisens &ouml;ppna API.

                .accordion-item
                    h1#panelsStayOpen-headingTwo.accordion-header
                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#panelsStayOpen-collapseTwo', aria-expanded='false', aria-controls='panelsStayOpen-collapseTwo')
                            | Jag var med om ett brott i närtid, varför finns inte det med på Nyheter och händelser?
                    |
                    #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
                        .accordion-body
                            strong Datan som visas på kartan är begränsad till de 500 händelsenotiser
                            |  som tillhandahålles via Polisens öppna API. Alla händelser rapporteras inte in utan
                            |  datamängden representerar endast ett urval av polisens utryckningar. Ibland läggs
                            |  en händelse in i en sammanfattning istället för att läggas in under en egen rubrik,
                            |  det kan därför vara värt att läsa igenom sammanfattningarna.
                |
                .accordion-item
                    h2#panelsStayOpen-headingThree.accordion-header
                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#panelsStayOpen-collapseThree', aria-expanded='false', aria-controls='panelsStayOpen-collapseThree')
                            | Jag har förslag på förbättringar, vart vänder jag mig?
                    |
                    #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
                        .accordion-body
                            strong All feedback uppskattas!
                            |  Skicka ett mail till what-happened-last-night-in-sweden@protonmail.com.

            .social-container
                ul.social-icons
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    |
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    |
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    |
                    li
                        a(href='#')
                            i.fa.fa-envelope


