extends layout

block scripts
    // Criminal statistics page script
    script(src="/javascripts/crime_statistics.js", type="module")

    //Chart.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js")

block content
    #Topnav.topnav
        a(class="navbarLeft" href="#" onclick="document.navigate('/');") Nyheter och händelser
        a(href="#" onclick="document.navigate('/daily-summary');") Senaste dygnet
        a(href="#" onclick="document.navigate('/weekly-summary');") Senaste veckan
        a(href="#" onclick="document.navigate('/police-stations');") Polisstationer
        a(class="active statistics" href="#" onclick="document.navigate('/statistics');") Kriminalstatistik
        a(href="#" onclick="document.navigate('/about');") Om
        //a(href="#" onclick="document.navigate('/hotspot');") Hotspot

        a(href="javascript:void(0)" class="icon" onclick="myFunction()")
            i(class="fa fa-bars")

    main.flex-shrink-0
        #about-bgd

            .container.container-statistics
                h1.pt-5 Kriminalstatistik

                p.lead Kriminalstatistik över skjutningar och sprängningar i Sverige 2017-2021.


                .card.text-center
                    .card-header
                        nav
                            #nav-tab.nav.nav-tabs(role='tablist')
                                button#nav-shootings-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-shootings', type='button', role='tab', aria-controls='nav-shootings', aria-selected='true') Skjutningar
                                |
                                button#nav-explosions-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-explosions', type='button', role='tab', aria-controls='nav-explosions', aria-selected='false', onclick='setupExplosionData()') Sprängningar

                    .card-body
                        #nav-tabContent.tab-content
                            #nav-shootings.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-shootings-tab')

                                h3.pt-3 2021
                                h5
                                    strong  220
                                    |  skjutningar -
                                    strong  35
                                    |  avlidna -
                                    strong  65
                                    |  skadade
                                canvas#shootings_2021

                                h3.pt-5 2020
                                h5
                                    strong  366
                                    |  skjutningar -
                                    strong  47
                                    |  avlidna -
                                    strong  117
                                    |  skadade
                                canvas#shootings_2020

                                h3.pt-5 2019
                                h5
                                    strong  334
                                    |  skjutningar -
                                    strong  42
                                    |  avlidna -
                                    strong  120
                                    |  skadade
                                canvas.pb-5#shootings_2019

                                h3.pt-5 2018
                                    h5
                                        strong  306
                                        |  skjutningar -
                                        strong  45
                                        |  avlidna -
                                        strong  135
                                        |  skadade
                                    canvas.pb-5#shootings_2018

                                h3.pt-5 2017
                                    h5
                                        strong  324
                                        |  skjutningar -
                                        strong  43
                                        |  avlidna -
                                        strong  139
                                        |  skadade
                                    canvas.pb-5#shootings_2017


                            #nav-explosions.tab-pane.fade(role='tabpanel', aria-labelledby='nav-explosions-tab')
                                h3.pt-3 2021
                                h5
                                    strong  56
                                    |  detonationer -
                                    strong  7
                                    |  försök -
                                    strong  46
                                    |  förberedelser
                                canvas#explosions_2021

                                h3.pt-5 2020
                                h5
                                    strong  107
                                    |  detonationer -
                                    strong  13
                                    |  försök -
                                    strong  89
                                    |  förberedelser
                                canvas#explosions_2020

                                h3.pt-5 2019
                                h5
                                    strong  133
                                    |  detonationer -
                                    strong  27
                                    |  försök -
                                    strong  82
                                    |  förberedelser
                                canvas.pb-5#explosions_2019

                                h3.pt-5 2018
                                h5
                                    strong  90
                                    |  detonationer -
                                    strong  12
                                    |  försök -
                                    strong  52
                                    |  förberedelser
                                canvas.pb-5#explosions_2018
