extends layout

block scripts
    // Criminal statistics page script
    script(src="/javascripts/criminal_statistics.js", type="module")

    //Chart.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js")

    block navBar
        #topNav
            a(href="/" class="navbarLeft") Nyheter och händelser
            a(href="/about") Om
            a(class="active statistics" href="/statistics") Kriminalstatistik
            a(href="/police-stations") Polisstationer
            a(href="/hotspot") Hotspot
            a(href="/daily-summary") Senaste dygnet
            a(href="javascript:void(0)" class="icon" onclick="myFunction()")
                i(class="fa fa-bars")

block content
    main.flex-shrink-0
        #about-bgd

            .container.container-statistics
                h1.pt-5 Kriminalstatistik

                p.lead Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.

                .card.text-center
                    .card-header
                        nav
                            #nav-tab.nav.nav-tabs(role='tablist')
                                button#nav-home-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-home', type='button', role='tab', aria-controls='nav-home', aria-selected='true') Skjutningar
                                |
                                button#nav-profile-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-profile', type='button', role='tab', aria-controls='nav-profile', aria-selected='false') Sprängningar
                                |
                                button#nav-contact-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-contact', type='button', role='tab', aria-controls='nav-contact', aria-selected='false') Övrigt
                    .card-body
                        #nav-tabContent.tab-content
                            #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab')

                                h3.pt-3 2021
                                h5 I år:
                                    strong  180
                                    |  st skjutningar
                                canvas#shootings_2021

                                h3.pt-5 2020
                                h5 Totalt:
                                    strong  366
                                    |  st skjutningar
                                canvas#shootings_2020

                                h3.pt-5 2019
                                h5 Totalt:
                                    strong  334
                                    |  st skjutningar
                                canvas.pb-5#shootings_2019

                            #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
                                h3.pt-3 2021
                                h5 I år:
                                    strong
                                    |  51 st sprängningar
                                canvas#explosions_2021

                                h3.pt-5 2020
                                h5 Totalt:
                                    strong
                                    |  107 st sprängningar
                                canvas#explosions_2020

                                h3.pt-5 2019
                                h5 Totalt:
                                    strong
                                    |  133 st sprängningar
                                canvas.pb-5#explosions_2019

                            #nav-contact.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contact-tab') Kommer snart






