body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
  margin: 0

a
  color: #00B7FF


html, body
  height: 100%
  width: 100%

#map
  width: 100vw
  height: calc(100vh - 48px)

#topNav
  background-color: #282626
  overflow: hidden
  height: 48px

#topNav a
  float: right
  display: block
  color: #f2f2f2
  text-align: center
  padding: 14px 16px
  text-decoration: none
  font-size: 17px

#topNav a:hover
  background-color: #ddd
  color: #000000

#topNav a.active
  //background-color: #EB5F61
  //background-color: #86a8e7
  background-color: #1862A8
  color: white

#topNav a.active.about
  background-color: #EEAECA


#topNav .icon
  display: none

#topNav a.navbarLeft
  float: left


ul.stationService
  margin-top: 0
  margin-bottom: 0


.info
  padding: 6px 8px
  font: 14px/16px Arial, Helvetica, sans-serif
  background: white
  background: rgba(255,255,255,0.8)
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-radius: 5px

.info h4
  margin: 0 0 5px
  color: #777

.legend
  line-height: 24px
  color: #555


.legend i
  width: 24px
  height: 18px
  float: left
  margin-right: 8px
  opacity: 0.7

.control-title
  font: 14px Arial, Helvetica, sans-serif
  margin-bottom: 2px



.leaflet-bar button,
.leaflet-bar button:hover
  background-color: #fff
  border: none
  border-bottom: 1px solid #ccc
  width: 26px
  height: 26px
  line-height: 26px
  display: block
  text-align: center
  text-decoration: none
  color: black


.leaflet-bar button
  background-position: 50% 50%
  background-repeat: no-repeat
  overflow: hidden
  display: block


.leaflet-bar button:hover
  background-color: #f4f4f4


.leaflet-bar button:first-of-type
  border-top-left-radius: 4px
  border-top-right-radius: 4px


.leaflet-bar button:last-of-type
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  border-bottom: none


.leaflet-bar.disabled,
.leaflet-bar button.disabled
  cursor: default
  pointer-events: none
  opacity: .4


.easy-button-button .button-state
  display: block
  width: 100%
  height: 100%
  position: relative

.leaflet-touch .leaflet-bar button
  width: 30px
  height: 30px
  line-height: 30px

#about-bgd
  width: 100vw
  height: calc(100vh - 48px)

  //ish
  //background: rgb(127,127,213)
  //background: linear-gradient(45deg, rgba(127,127,213,1) 9%, rgba(134,168,231,1) 51%, rgba(145,234,228,1) 96%)

  background: rgb(238,174,202)
  background: linear-gradient(20deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)

  //background: rgb(47, 47, 73)
  //background: linear-gradient(101deg, rgb(41, 41, 141) 0%, rgb(33, 160, 193) 100%)

  //background: rgb(0,4,40)
  //background: linear-gradient(101deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%)

  // ish
  //background: rgb(0,78,146)
  //background: linear-gradient(180deg, rgb(98, 165, 224) 9%, rgb(18, 22, 62) 96%)


.container.container-about
  width: auto
  max-width: 680px
  padding: 0 15px

h1
  color: #ffffff

.btn.btn-link
  color: rgb(33, 37, 41)

  text-decoration-line: none

.btn.btn-link:hover
  color: #EBAFCB
