body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: auto;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

a {
  color: #00B7FF; }

h1, h2, h3, h4, h5, h6, p {
  color: #ffffff; }

#topNav {
  background-color: #282626;
  overflow: hidden;
  height: 48px; }

#topNav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

#topNav a:hover {
  background-color: #ddd;
  color: #000000; }

#topNav a.active {
  background-color: #1862A8;
  color: white; }

#topNav a.active.about, #topNav a.active.statistics {
  background-color: #EEAECA; }

#topNav .icon {
  display: none; }

#topNav a.navbarLeft {
  float: left; }

#map {
  width: 100vw;
  height: calc(100vh - 48px); }

ul.stationService {
  margin-top: 0;
  margin-bottom: 0; }

.control-title {
  font: 14px Arial, Helvetica, sans-serif;
  margin-bottom: 2px; }

.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block; }

.leaflet-bar button:hover {
  background-color: #f4f4f4; }

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4; }

.easy-button-button .button-state {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px; }

#about-bgd {
  width: 100%;
  height: 100%;
  background: #eeaeca;
  background: linear-gradient(20deg, #eeaeca 0%, #94bbe9 100%); }

#background-about {
  width: 100%;
  min-height: calc(100vh - 48px);
  background: #eeaeca;
  background: linear-gradient(20deg, #eeaeca 0%, #94bbe9 100%); }

#background-404 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background: #eeaeca;
  background: linear-gradient(20deg, #eeaeca 0%, #94bbe9 100%); }

.container.container-about {
  width: auto;
  max-width: 680px;
  padding: 0 15px; }

.container.container-statistics {
  width: auto;
  max-width: 900px;
  padding: 0 15px  55px; }

.container.container-error {
  height: 600px;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  padding-top: 200px; }

.card {
  background-color: rgba(148, 167, 231, 0.4) !important; }

button.nav-link.active {
  color: #ffffff !important;
  background-color: rgba(148, 167, 231, 0.6) !important;
  border-color: #8597C2 !important; }

button.nav-link {
  color: #ffffff !important; }

.nav-tabs {
  border-bottom: 0 !important; }

.card-header {
  padding-bottom: 0 !important; }

.btn.btn-link {
  color: #212529;
  text-decoration-line: none; }

button.accordion-button:hover {
  color: #EBAFCB; }

.accordion-button:not(.collapsed) {
  color: #94a7e7 !important; }

.accordion-button.collapsed {
  color: #94a7e7; }

.accordion-header {
  color: #EBAFCB; }

.social-container {
  text-align: center; }

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em; }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em; }
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out; }
  .social-icons a {
    display: inline-block; }
    .social-icons a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #99BBE8, #002A8F);
      transition: all 265ms ease-out; }
    .social-icons a:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in; }
    .social-icons a:hover i {
      transform: scale(1.7);
      -ms-transform: scale(1.7);
      -webkit-transform: scale(1.7);
      color: #99BBE8;
      background: -webkit-linear-gradient(45deg, #99BBE8, #002A8F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 265ms ease-in; }

.btn.error-button {
  color: #ffffff;
  background-color: rgba(148, 167, 231, 0.6);
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */